<mat-toolbar color="primary"  >
    <mat-toolbar-row>

                <button mat-button routerLink="/" >
                  <i class="material-icons">
                    home
                    </i>
                  Reserv Box
                </button>

                  <button mat-button routerLink="/contract/new" >
                      <i class="material-icons">
                        add
                      </i>
                      Add Contract
                  </button>
                  <button mat-button routerLink="/config" style="align-items: flex-end" >
                    <i class="material-icons">
                        settings
                    </i>
                    Config
                </button>

    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
<!-- Routing view -->
