.box {
 margin: 20px;
}

.card {
  margin: auto;
  margin-top: 10px;
  width: 80%;
}


.btn {
  width: 100%;

  margin: 10px;
}

.mat-column-hotelName {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-roomType {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-price {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-rooms {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-adults {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.addbtn{
  justify-content: center;

}
