<mat-card class="card">
  <mat-card-title>Find Rooms</mat-card-title>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <div fxLayout="column">
        <mat-form-field class="box" fxLayoutGap="50px" >
            <input [(ngModel)]='startDate' matInput [matDatepicker]="picker1" placeholder="Choose Starting date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="50px" >
        <mat-form-field class="box">
            <input [(ngModel)]='endDate' matInput [matDatepicker]="picker2" placeholder="Choose Ending date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <div fxLayout="column">
        <mat-form-field class="box">
            <input [(ngModel)]='adults' matInput placeholder="No of Adults">
          </mat-form-field>
      </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z1 tbl" responsive="true">

    <ng-container matColumnDef="rooms">
        <th mat-header-cell *matHeaderCellDef> No. of Rooms </th>
        <td mat-cell *matCellDef="let rooms"> {{rooms.no}} </td>
      </ng-container>

    <ng-container matColumnDef="adults">
        <th mat-header-cell *matHeaderCellDef> Adults per Room </th>
        <td mat-cell *matCellDef="let rooms"> {{rooms.adults}} </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>
</mat-table>
</div>
<mat-action-row>
    <button mat-button color="primary" class="btn" (click)="find()" >SEARCH</button>

</mat-action-row>
</mat-card>
<mat-card class="card">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z1 tbl" responsive="true">

        <ng-container matColumnDef="hotelName">
            <th mat-header-cell *matHeaderCellDef> Hotel Name </th>
            <td mat-cell *matCellDef="let rooms"> {{rooms.hotelName}} </td>
          </ng-container>

        <ng-container matColumnDef="roomType">
            <th mat-header-cell *matHeaderCellDef> Room Type </th>
            <td mat-cell *matCellDef="let rooms"> {{rooms.roomType}} </td>
          </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let room"> {{room.price}} </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</mat-card>
